
html,body{
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}

.padding-none{
    padding: 0px;
    font-size:0.9em;
}
.dn{
    display: none;
}
.oh{
    overflow: hidden
}
.mywidth {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.banner2{
    padding: 15px 0 0 10px;
}
@media (max-width: 1024px) {
    .banner2{
        padding: 15px 0 0 0;
    }
}
.am-slides img{
}
/*index*/
.banner{
    margin-top: 10px;
}
.star{
    width: 100%;
    border-bottom: 1px solid #e1652f;
    height: 15px;
    text-align: center;
    margin: 0px 0 20px 0;
}
    .star span {
        font-size: 100%;
        background-color: #f8f8f8;
        padding: 0 20px;
    }
.star img{
    height: 25px;
    margin: -5px 10px 0 0;
}
.newatype a{
    color: #222222;
}
.newatype a:hover{
    color: #e1652f;
}
.news .am-list-news-bd .am-list li{
    padding: 20px 0;
}
.face{
    border-radius: 500px;
}
.right-bg{
    padding:5px;
    background-color: #f5f5f5;
    margin-top: 0px;
}
.right-bg .am-list > li {
    background-color: #f5f5f5;
    border: 0px;
}
.right-bg .am-list-item-text{
    font-size: 75%;
}

.right-bg .am-list .am-list-item-desced {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.am-titlebar .am-titlebar-title{
    color: #222222;
}

.am-titlebar .am-titlebar-nav  a{
    color: #dddddd;
}
.am-titlebar .am-titlebar-nav  a:hover{
    color: #222;
}
.right-bg img {
}
footer{
    background-color: #222222;
    color: #ddd;
    padding: 50px 0;
    text-align: center;
    margin-top: 50px;
}
footer a{
    color: #ddd;
}
footer a:hover{
    color: #fff;
}
.content{
    max-width: 550px;
    margin: 0 auto;
}
@media (max-width: 640px) {
    .content{
        font-size: 75%;
    }
}
.btnlogo{
    margin: 20px 0;
    max-width: 500px;
    text-align: center;
}
.btnlogo img{
    width: 300px;
}
.w2div{
    width: 350px;
    margin: 0 auto;
}
.w2 .am-gallery-item img {
    width: 150px;
}
.lrad img{
    width: 100%;
}
@media only screen and (max-width: 640px) {
    .lrad img{
        margin-top: 10px;
    }
}
@media (max-width: 1024px) and (min-width: 640px){
    .lrad img{
        padding:5px 0;
        width: 99%;
    }
    .lrad .ms{
    }
}
@media only screen and (min-width: 1024px) {
    .lrad img{
        margin: 0 0 10px 10px;
        width: 98%;
    }
}
.newshui {
    background-color: #f5f5f5;
    padding-bottom: 50px;
}
.newshui .am-list li{
    background-color: #f5f5f5;
    border: 0px;
    border-bottom: 2px solid #eeeeee;
    padding: 10px;
}
.newshui .am-list li:hover{
    background-color: #dddddd;
}
.newshui h3{
    font-size: 150%;
}
.newshui a{
    color: #222222;
}
.newshui a:hover{
    color: #e1652f;
}
.tag{
    background-color:#f5f5f5;
    margin: 0 0 0 10px;
    padding: 20px;
    padding-bottom: 50px;
}
.bgtag{
    background-color:#f5f5f5;
    padding: 20px;
    padding-bottom: 50px;
}
.tag li{
    background-color: #fff;
    padding: 5px 8px;
    float: left;
    margin: 5px;
    list-style-type: none;
}
.tag .active{
    background-color: #e1652f;
    color: #fff;
}
.tag .active a{
    color: #ffffff;
}
.tag .active a:hover{
    color: #ddd;
}
.mcenter{
    margin: 20px auto;
}
.events .am-gallery-item .efe{
    text-align: center;
    margin: 0px;
    padding: 20px 0;
    font-size: 120%;
    font-weight:900;
}
.events .am-gallery-item p{
    margin: 0px;
}
.events a{
    color: #222;
}
.events  a:hover{
    color: #f16529;
}
.fee{
    margin-top: 20px;
    height: 20px;
}
.events-btn{
    text-align: center;
    padding: 20px 0 10px 0;
}
#hdxq{
    background-color: #f5f5f5;
    padding: 20px;
    margin: 10px 10px 0 10px
}
#hdxq h2{
    margin: 0px;
    font-weight:300;
}
#baoming{
    padding: 20px;
    border: 10px solid #ddd;
}
.newsico{
    color: #ddd;
    position: absolute;
    margin-top: -30px;
    margin-left: 50%;
}
@media only screen and (max-width: 640px) {
    .newsico{
        margin-left: 65%;
    }
}

@media only screen and (min-width: 640px) {
    .newsico{
        margin-left: 75%;
    }
}
.newstitles{
    margin: 20px 0;
}
.newstitles h2{
    font-size: 300%;
    margin-bottom: 10px;
}
@media only screen and (max-width: 640px) {
    .newstitles h2{
        font-size: 200%;
    }
}
.newstitles img{
    width: 30px;
    border-radius: 30px;
}
.newstitles span{
    color: #e1652f;
    padding: 0 5px;
}
.contents{
    margin: 30px auto;
}
.shang{
    width: 100%;
    text-align: center;
    height: 200px;
    line-height: 200px;
}
#category_top{
    background-image: url("../images/zlbg.png");
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px 0;
    height: 370px;
    overflow: hidden;
}
@media (max-width: 640px) {
    #category_top{
        height: 350px;
    }
}
.kz{
    height: 350px;
    line-height:250px;
    width:20px;
    position: absolute;
    text-align:center;
}
.kz i{
    color: #ffffff;
    font-size: 300%
}
#category_top li{
    text-align: center;
    height: 500px;
}
#category_top .ctl{
    padding: 30px 10px;
    background-color: #222222;
}
.ctl{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.ctl img{
    border-radius: 150px;
    width: 50%;
    border: 3px solid #fff;
    margin-bottom: 20px;
    padding: 2px;
}
.ctl h3,.ctl p{
    margin: 0px;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
}
#category_top button{
    margin-top: 30px;
}
#category_top .am-btn-default{
    color: #ffffff;
    background:none;
}
#category_top .active{
    border: 2px solid #e1652f;
}
.ctl:hover{
    border: 2px solid #e1652f;
}
#cattit{
    width: 300px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 150%;
}
#cattit .active-none a{
    color: #222;
}
#cattit .active-none a:hover{
    color: #e1652f;
}
.cattlist_0{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
}
.cattlist_1{
    background-color: #e6e6e6;
    height: 120px;
    width: 100%;
}
.cattlist_1 img{
    width: 100%;
    border-radius: 210px;
}
@media (max-width: 640px) {
    .cattlist_1 img{
        width: 90%;
    }
}
.cattlist_2{
    height: 150px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.cattlist_1 h3{
    margin: 0px;
    padding-top: 10%;
}
.cattlist_1 h4{
    margin: 0px;
    font-size: 85%;
    padding-bottom: 10px;
    font-weight: 200;
}
.cattlist_1 p{
    margin: 0px;
    font-size: 85%;
}
.cattlist_1 p span{
    font-size: 150%;
    padding: 5px 10px;
}
.cattlist_3{
    height: 50px;
    text-align: right;
    padding-right: 20px;
}
#cattlist li{
    margin-bottom: 20px;
}
.category2top{
    background-image: url("../images/zlbg.png");
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px 0;
    height: 320px;
    overflow: hidden;
    color: #fff;
}
.category2top img{
    border-radius: 300px;
    width: 100%;
    border: 5px solid #ffffff;
    padding: 5px;
    margin-top: -30px;
}
@media (max-width: 1024px) {
    .category2top img{
        width: 150px;
    }
}

.userinfo{
    max-width: 1000px;
}
.userin h3{
    margin: 0px;
    padding-top: 10%;
    font-size: 120%;
}

.userin h4{
    margin: 0px;
    font-size: 85%;
    padding-bottom: 10px;
    font-weight: 200;
}
.userin p{
    margin: 0px;
    font-size: 85%;
}
.userin p span{
    font-size: 150%;
    padding: 5px 10px;
}
@media (max-width: 1024px) {
    .userin h3{
        margin: 0px;
        padding-top: 10px;
        font-size: 120%;
    }
    .userin p span{
        font-size: 150%;
        padding: 0px 10px;
    }
    .userin,.userface{
        text-align: center
    }
    .category2top{
        height: 400px;
    }
}
.userinfo_left{
    padding-top: 50px;
}
.userinfo_center{
    padding: 80px 0 0 10px;
}
.userinfo_right{
    padding-top: 100px;
    text-align: right;
}
@media (max-width: 640px) {
    .newsshow img{
        width: 98%;
    }
}
.info {
    height: 340px;
    background-color: #f8f8f8;
}
.news .am-list-news-bd .am-list li {
    padding: 5px 2px 2px 2px;
    float: left;
    width: 300px;
    height: 330px;
    margin: 2px;
    border: 1px solid #dedede;
}

.am-list-news-bd .list-row li.list-item:hover {
    border: 1px solid #fd521d;
}

.am-list-news-bd .list-row li.list-item .discount {
    position: absolute;
    width: 62px;
    z-index: 1;
    left: 10px;
    top: -20px;
}

    .am-list-news-bd .list-row li.list-item .discount .dis-top {
        /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAAOCAYAAAB3u6/pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTAwMTVDNEVFQzMyMTFFNUI2QjBCMUFGQ0UwMkQ5OTQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTAwMTVDNEZFQzMyMTFFNUI2QjBCMUFGQ0UwMkQ5OTQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBMDAxNUM0Q0VDMzIxMUU1QjZCMEIxQUZDRTAyRDk5NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBMDAxNUM0REVDMzIxMUU1QjZCMEIxQUZDRTAyRDk5NCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PpY2YX0AAAMoSURBVHja1Jb7U1JBFMfPXi6PKxAYyuSb0dSpVKymF1DT9Af0vzT+HU1/SL/1FzQJaE3NwKCpmKaWWkxiKMjjPrazsuTlIgqiTp2ZM3DZw+5+9nzP2UsopVCx1Wc9nT6PKQVGEwQASYL/wvJ5AE07bsQtvN7IVB5E/UhJpapGISMQcBnBydAIwOQdIGN+gI7Ofws29QNoIg6QiAH9PFcDjrlNEwKq/jeiz/hLj8diEYk/NGQe63Obgk4bCZlNZITFVc3U1Q1k4jYAOhkexeMTLxe0VAS6uFAGZcAIbjANk7iYLdDoxq46HVmRZ/E5ObWzUx8cP8b1M4x6RY+/V3zcLgkByUzu48k5qpaw2oDcHCurYRzV0H71YmC/f0PIGMB8AmhyEUCWjVndy8t0Nn2gzcQ3lUgypaR1w0ziX5oC15vDSsyhQctkl0t45LAKT0QBfDVBvX2HaiATkwDDKBbBdMZaPQA6P3eU1d10TYiswnK2qIW3MtrMu5VSvCBTtc5srYEbzd9j7r5xTQy6JRKyieQuqsFWFSC1AbmFavBzNbjc9Sdj+9hYBzoXL4MuJ1GwqjHkoKDQD5jV8Py2EkVPNbjVU8HZB4Nnze0Kd6GRmd2SYMHecM/rNAXtFhJCNXRXBeCpQP8AVwP2h8EhntUEZpXDZn7XzKtosIZZjW5ntOnwaimWLVK5QdgiB2aeZXV/GnhVP2cK5wfB3NqoGh4MmH3XO8SgC9VgFQnqHsxGNUCxcFwHLmBWP2XyNLLwUwnHNuWtBpdkIPvoexy2YAxoBhym1t4cjfueM3A3V4KzptvXMa9TaAv4LA87HEIA1RDA69JryOpmrkQjqX01Ev0qf0QpFxvt7zrQPdyrptsrtAR+ggm6cnDxEjn9TwQINsiR/nZTAN8Ziiu/lOj7dXmtiazmdBLON7NhPXgrF7D24qmdFeVhYb56m5N0JWGvpwaEpdiBl/DrUoPrKDrQfVxTqQzgmmfefCsZP8lMOiW4znDAOZ2Ec+e1qfPK+EnG7qFd7sAVULkp7HXi/9Yqu6Iv+uXvst41c9y3+JqVQ5B5qeR4/V6a/RFgAJGidKx3dqOtAAAAAElFTkSuQmCC);*/
        width: 62px;
        height: 22px;
    }

    .am-list-news-bd .list-row li.list-item .discount .dis-main {
        margin: 0 auto;
        width: 54px;
        color: #fff;
        text-align: center;
        background: linear-gradient(#fd661d,#fd541d);
        background-color: #fd661d;
    }

    .am-list-news-bd .list-row li.list-item .discount .dis-bottom {
        /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAAOCAYAAAB3u6/pAAAAGXRFW¡­kp7HXi/9Yqu6Iv+uXvst41c9y3+JqVQ5B5qeR4/V6a/RFgAJGidKx3dqOtAAAAAElFTkSuQmCC);*/
        width: 62px;
        height: 14px;
    }

.am-list-news-bd .list-row li .img-backgound {
    overflow: hidden;
    position: relative;
}

    .am-list-news-bd .list-row li .img-backgound .position-bg {
        width: 114px;
        height: 30px;
        background: url(/images/position-bg.png) no-repeat;
        position: absolute;
        left: 0;
        bottom: 0;
    }

.am-list-news-bd .list-row li.list-item a h3 {
    color: #222;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    width: 268px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}

.am-list-news-bd .list-row li.list-item a .mileage {
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
    height: 21px;
}

    .am-list-news-bd .list-row li.list-item a .mileage .basic {
        color: #999;
        font-size: 12px;
        margin-left: 10px;
    }

.am-list-news-bd .list-row li.list-item a .tags-box .price {
    color: #fd521d;
    font-size: 24px;
    margin: 10px 10px 0;
    float: left;
}

.am-list-news-bd .list-row li.list-item a .tags-box .new-price {
    clear: both;
    float: left;
    margin-left: 10px;
    color: #999;
    font-size: 12px;
}

.am-list-news-bd .list-row li.list-item .schedule {
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    line-height: 28px;
    padding: 0;
    color: #999;
    font-size: 0.8rem;
}

.btn-base {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-color: #fd521d;*/
}

.am-list-news-bd .list-row li.list-item a .img-backgound img:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.logininfo{
    margin:10px;
    font-size:1.6rem;
    color:#ffffff;

}
.hoverWidget-bn {
    background: #fff;
    border: solid 1px #eee;
    padding-left: 4px;
    padding-right: 4px;
}
.hoverWidget-bn a{
   color:#999
}
    .hoverWidget-bn input {
        height: 20px;
        margin-top: -3px;
    }

.infomore {
    margin-right: 20px;
    margin-left: 20rem;
    color: #dddddd;
    position: absolute;
    padding-top: 11.4rem;
}
.infomore {
    margin-right: 20px;
    margin-left: 20rem;
    color: #dddddd;
    position: absolute;
    bottom: 0;

}

.infomore a{
    color: #dddddd;
}
    .infomore :hover {
        color: #999;
    }
    .infomore :link {
        color: #999;
    }
.padding-none li{
    margin:0px;
}
    .padding-none li a:hover {
        color: #999;
    }
.padding-none li a:link {
    color: #999;
}
    .padding-none li a {
        color: #222222
    }
