<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"></customErrors>
    </system.web>
  <appSettings>
    <add key="ConnectionString" value="Data Source=|DataDirectory|AamirKhan.db;Password=1q2w3e4r;Version=3;" />
    <add key="manager" value="123456" />
    <add key="znmDB" value="Data Source=106.14.153.126,5942;Initial Catalog=rsc;User ID=rscWrite;Password=1q2w3e4r!@#$" />
  </appSettings>
</configuration>
